.animation-scale-active {
    animation: scaleAnimation 800ms linear  forwards;
    -webkit-animation: scaleAnimation 800ms linear  forwards;
}

@keyframes scaleAnimation {
    0% {
        scale: 0;
    }
    100% {
        scale: 1;
    }
}

.animation-translate {
    transform: translateX(100%);
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transition: 500ms linear;
    -webkit-transition: 500ms linear;
    -moz-transition: 500ms linear;
    -ms-transition: 500ms linear;
    -o-transition: 500ms linear;
}